/* src/pages/ForgotPasswordPage.css */


.forgot-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 380px;
    margin-top: 3rem;
}

.logo-container {
    margin-top: 1rem;
}

.placeholder-logo {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 0 auto;
}

.header-text {
    padding: 1rem;
}